{% include "header.html" %}
<html>
	<head>
		<title>
		Epass Internet Dashboard
		</title>	
	</head>
	
	<body>
		<div class="container">

				<h2><b>Epass Internet Dashboard {{month}}-{{year}}</b></h2>
				<table class="table table-hover">
				  <thead>
					<tr class="bg-danger">
					  <th scope="col">Tier</th>
					  <th scope="col">Historical Max</th>
					  <th scope="col">Peak per day</th>
					  <th scope="col">Average Hits per day</th>
					  <th scope="col">Total Hits</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row" class="bg-success">Hits</th>
					  <td class="table-warning">10</td>
					  <td class="table-danger">{{epass_internet_peak_hits}}</td>
					  <td class="table-active">{{epass_internet_avg_hits}}</td>
					  <td class="table-success">{{epass_internet_total_hits}}</td>	  
					</tr>
				  </tbody>
				</table>
			
		</div>
		<div class="container">
			<div class=".col-10">
				<table class="table table-hover">
					<thead>
						<tr class="bg-danger">
							<th scope="col">Epass Internet Hits Trend</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-warning">
								<img src={{epass_internet_hit_trend}} alt="Epass Internet Hits Trend">
							</td>							
						</tr>					
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="container">
			<div class="col-md-8 offset-md-2">
				<table class="table table-hover">
				  <thead>
					<tr class="bg-danger">
					  <th scope="col">Epass Internet Top Hitting Applications</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td class="table-warning">{{lines[0]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[1]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[2]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[3]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[4]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[5]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[6]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[7]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[8]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[9]}}</td>
					</tr>					
			</div>
		</div>		
	</body>
</html>