{% include "header.html" %}
<html>
	<head>
		<title>
		SSO Internet Dashboard
		</title>	
	</head>
	
	<body>
		<div class="container">

				<h2><b>SSO Internet Dashboard {{month}}-{{year}}</b></h2>
				<table class="table table-hover">
				  <thead>
					<tr class="bg-danger">
					  <th scope="col">Tier</th>
					  <th scope="col">Historical Max</th>
					  <th scope="col">Peak per day</th>
					  <th scope="col">Average Hits per day</th>
					  <th scope="col">Total Hits</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row" class="bg-success">Web</th>
					  <td class="table-warning">10</td>
					  <td class="table-danger">{{web_peak_hits}}</td>
					  <td class="table-active">{{web_avg_hits}}</td>
					  <td class="table-success">{{web_total_hits}}</td>	  
					</tr>
					<tr>
					  <th scope="row" class="bg-success">App</th>
					  <td class="table-warning">10</td>
					  <td class="table-danger">{{app_peak_hits}}</td>
					  <td class="table-active">{{app_avg_hits}}</td>
					  <td class="table-success">{{app_total_hits}}</td>	
					</tr>
					<tr>
					  <th scope="row" class="bg-success">Policy</th>
					  <td class="table-warning">10</td>
					  <td class="table-danger">{{policy_peak_hits}}</td>
					  <td class="table-active">{{policy_avg_hits}}</td>
					  <td class="table-success">{{policy_total_hits}}</td>	
					</tr>
					<tr>
					  <th scope="row" class="bg-success">DSS/DB</th>
					  <td class="table-warning">10</td>
					  <td class="table-danger">{{dss_peak_hits}}</td>
					  <td class="table-active">{{dss_avg_hits}}</td>
					  <td class="table-success">{{dss_total_hits}}</td>	
					</tr>	
				  </tbody>
				</table>
			
		</div>
		<div class="container">
			<div class=".col-10">
				<table class="table table-hover">
					<thead>
						<tr class="bg-danger">
							<th scope="col">SSO Internet Web Hits Trend</th>
							<th scope="col">SSO Internet App Hits Trend</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-warning">
								<img src={{internet_web_hit_trend}} alt="SSO Internet Web Hits Trend">
							</td>
							<td class="table-warning">
								<img src={{internet_app_hit_trend}} alt="SSO Internet App Hits Trend">
							</td>							
						</tr>					
					</tbody>
				</table>
			</div>
		</div>
		<div class="container">
			<div class=".col-10">
				<table class="table table-hover">
					<thead>
						<tr class="bg-danger">
							<th scope="col">SSO Internet Policy Hits Trend</th>
							<th scope="col">SSO Internet DSS/DB Hits Trend</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-warning">
								<img src={{internet_policy_hit_trend}} alt="SSO Internet Policy Hits Trend">
							</td>
							<td class="table-warning">
								<img src={{internet_dss_hit_trend}} alt="SSO Internet DSS Hits Trend">
							</td>							
						</tr>					
					</tbody>
				</table>
			</div>
		</div>
	
		<div class="container">
			<div class="col-md-8 offset-md-2">
				<table class="table table-hover">
				  <thead>
					<tr class="bg-danger">
					  <th scope="col">SSO Internet Top Hitting Applications</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td class="table-warning">{{lines[0]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[1]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[2]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[3]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[4]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[5]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[6]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[7]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[8]}}</td>
					</tr>
					<tr>
					  <td class="table-warning">{{lines[9]}}</td>
					</tr>					
			</div>
		</div>
	</body>
</html>